<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>SSBW Practica</title>
        <link href="//cdn.muicss.com/mui-latest/css/mui.min.css" rel="stylesheet" type="text/css" />
        <script src="//cdn.muicss.com/mui-latest/js/mui.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css" integrity="sha512-10/jx2EXwxxWqCLX/hHth/vu2KY3jCF70dCQB8TSgNjbCVAC/8vai53GfMDrO2Emgwccf2pJqxct9ehpzG+MTw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

        {% load static %}
        <link rel="stylesheet" href="{% static 'styles.css' %}">
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.css">
        <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.js"></script>

    </head>
    <body>
        <header class="mui-appbar" style="background-color: rgb(244,67,54);">
            <div class="mui-container">
              <table style="width: 100%">
                <tr class="mui--appbar-height">
                  <td class="mui--text-title"><a href="{% url 'index' %}" style="color: white; font-size: 30px; padding-left: 30px;">SSBW</a></td>
                  <td class="mui--text-right">
                    <ul class="mui-list--inline mui--text-body2">
                        {% if user.is_authenticated %}
                            <li>Hi {{user.username}}!</li>
                            <li><a href="/accounts/logout" style="color: white;">Logout</a></li>
                        {% else %}
                            <li><a href="/accounts/login" style="color: white;">Login</a></li>
                        {% endif %}
                    </ul>
                  </td>
                </tr>
              </table>
            </div>
        </header>



        <div class="modal modal-effect-blur">
            <div class="modal-content">
                <h3>Are you sure you want to delete?</h3>
                <div>
                    <button type="submit" class="mui-btn mui-btn--danger modal_delete">Delete</button>
                    <button type="submit" class="mui-btn mui-btn--danger modal_delete_cancel">Cancel</button>
                </div>
            </div>
        </div>


        {% block content %}
        <div class="mui-container">
            <div class="mui-row">
                <form class="mui-form">
                    <div class="mui-textfield">
                        <input type="text" name="q" placeholder="Enter person name...">  <!-- form action="{% url 'index' %}"  method="post", input  name="q"  -->
                        <div class="mui-row">
                            <div class="mui-col-md-6 mui-col-md-offset-3">
                                <button type="submit" class="mui-btn mui-btn--danger" style="width: 100%;">Search</button>
                            </div>
                        </div>
                    </div>
                </form>
                <table class="mui-table mui-table--bordered">
                    {% if persons %}
                    <thead>
                        <tr>
                            <th>Firstname</th>
                            <th>Lastname</th>
                            <th>Address</th>
                            <th>Picture</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for person in persons %}
                            <tr id="{{person.id}}">
                                <td><a href="{% url 'detail' person.id %}" style="color: inherit">{{person.firstname}}</a></td>
                                <td>{{person.lastname}}</td>
                                <td>{{person.address}}</td>
                                {% load static %}
                                <td><img src="{% static person.image|add:'.jpg' %}" alt="" width="50px"></td>
                                <td>
                                    <a href="{% url 'edit' person.id %}" style="color: white"><button class="mui-btn mui-btn--danger"><i class="fa-solid fa-pen-to-square"></i></button></a>
                                    <a href="#" style="color: white" idd="{{person.id}}" class="idd"><button type="submit" class="mui-btn mui-btn--danger delete"><i class="fa-solid fa-xmark"></i></button></a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                    {% endif %}
                </table>
                <td><a href="{% url 'add' %}" style="color: white"><button type="submit" class="mui-btn mui-btn--danger" href><i class="fa-solid fa-plus"></i></button></a></td>
            </div>
        </div>
        {% endblock %}
    </body>

    <style>
        tr:hover {
            background-color: rgba(244, 67, 54, 0.65);
            transition: 0.7s;
        }

        .modal {
            display: none;
            position: fixed;
            z-index: 1;
            padding-top: 10%;
            width: 100%;
            height: 100%;
            background-color: rgba(0,0,0,0.4);
        }

        .modal-content {
            background-color: #fefefe;
            margin: auto;
            padding: 20px;
            border: 1px solid #888;
            width: 90%;
        }
    </style>

    <script>
        $(document).ready(function() {
            $(".modal").hide()

            $(".delete").click(function() {
                $(".modal").show()
            });

            $(".modal_delete").click(function() {
                let idd = $(".idd").attr("idd");
                console.log(idd)
                $.ajax({
                    url: `/delete/${idd}`,
                    success: function(data) {
                        $(`#${idd}`).remove()
                        $(".modal").hide()
                    }
                })
            });

            $(".modal_delete_cancel").click(function() {
                $(".modal").hide()
            });

            $(".mui-table").DataTable();
        });
    </script>
</html>