<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>SSBW Practica</title>
        <link href="//cdn.muicss.com/mui-latest/css/mui.min.css" rel="stylesheet" type="text/css" />
        <script src="//cdn.muicss.com/mui-latest/js/mui.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css" integrity="sha512-10/jx2EXwxxWqCLX/hHth/vu2KY3jCF70dCQB8TSgNjbCVAC/8vai53GfMDrO2Emgwccf2pJqxct9ehpzG+MTw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        {% load static %}
        <link rel="stylesheet" href="{% static 'styles.css' %}">
    </head>
    <body>
        <header class="mui-appbar" style="background-color: rgb(244,67,54);">
            <div class="mui-container">
              <table style="width: 100%">
                <tr class="mui--appbar-height">
                  <td class="mui--text-title"><a href="{% url 'index' %}" style="color: white; font-size: 30px; padding-left: 30px;">SSBW</a></td>
                  <td class="mui--text-right">
                    <ul class="mui-list--inline mui--text-body2">
                        {% if user.is_authenticated %}
                            <li>Hi {{user.username}}!</li>
                            <li><a href="/accounts/logout" style="color: white;">Logout</a></li>
                        {% else %}
                            <li><a href="/accounts/login" style="color: white;">Login</a></li>
                        {% endif %}
                    </ul>
                  </td>
                </tr>
              </table>
            </div>


        </header>

        {% block content %}
        <div class="mui-container">
            <div class="mui-row">
                <form class="mui-form">
                    <div class="mui-textfield">
                        <input type="text" name="q" placeholder="Enter person name...">  <!-- form action="{% url 'index' %}"  method="post", input  name="q"  -->
                        <div class="mui-row">
                            <div class="mui-col-md-6 mui-col-md-offset-3">
                                <button type="submit" class="mui-btn mui-btn--danger" style="width: 100%;">Search</button>
                            </div>
                        </div>
                    </div>
                </form>
                <table class="mui-table mui-table--bordered">
                    {% if persons %}
                    <thead>
                        <tr>
                            <th>Firstname</th>
                            <th>Lastname</th>
                            <th>Address</th>
                            <th>Picture</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for person in persons %}
                            <tr>
                                <td><a href="{% url 'detail' person.id %}" style="color: inherit">{{person.firstname}}</a></td>
                                <td>{{person.lastname}}</td>
                                <td>{{person.address}}</td>
                                {% load static %}
                                <td><img src="{% static person.image|add:'.jpg' %}" alt="" width="50px"></td>
                                <td>
                                    <a href="{% url 'edit' person.id %}" style="color: white"><button class="mui-btn mui-btn--danger"><i class="fa-solid fa-pen-to-square"></i></button></a>
                                    <a href="{% url 'delete' person.id %}" style="color: white"><button type="submit" class="mui-btn mui-btn--danger"><i class="fa-solid fa-xmark"></i></button></a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                    {% endif %}
                </table>
                <td><a href="{% url 'add' %}" style="color: white"><button type="submit" class="mui-btn mui-btn--danger" href><i class="fa-solid fa-plus"></i></button></a></td>
            </div>
        </div>
        {% endblock %}
    </body>

    <style>
        tr:hover {
            background-color: rgba(244, 67, 54, 0.65);
            transition: 0.7s;
        }
    </style>
</html>